.bookshelf-bg-container {
  background: #f5f7fa;
  height: 100vh;
}
.bookshelf-bottom-container {
  margin: 40px 80px;
  display: flex;
}
.bookshelves-list-container {
  background-color: white;
  width: 300px;
  padding: 20px;
  height: 87vh;
}
.shelf-heading {
  color: #334155;
  font-size: 15px;
  font-weight: 600;
}
.shelves-list-container {
  display: flex;
  flex-direction: column;
}
.bookshelf-results-container {
  margin-left: 20px;
  width: 100%;
}
.shelf-heading-search-container {
  display: flex;
}
.results-heading {
  color: #334155;
  font-size: 20px;
  font-weight: 600;
}
.search-container {
  border: 1px #cbd5e1 solid;
  align-self: flex-end;
}
.search-input {
  border: 0;
}
